/***Autor Zveerko; GitHub (https://github.com/Zveromag/)***/
/*fast style attr*/
/*default style*/
select {
  outline: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  max-width: 250px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*plagin style*/
.select-js__box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: inherit;
}

.select-js__name {
  border: 1px solid #ccc;
  padding: 5px 10px;
  padding-right: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.select-js__name::after {
  content: '';
  z-index: 2;
  position: absolute;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI2Ij48cGF0aCBkPSJNMTAuMzEyIDBMNS41IDQuNjY2LjY4OCAwIDAgLjY2NyA1LjUgNiAxMSAuNjY3Ii8+PC9zdmc+");
  opacity: .7;
  right: 7px;
  top: 10px;
  width: 10px;
  height: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.select-js__name.is-open {
  border: 1px solid #1e90ff;
}
.select-js__name.is-open::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select-js__list {
  position: absolute;
  max-width: inherit;
  max-height: 200px;
  max-width: 300px;
  border-top: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  border: 1px solid #1e90ff;
  z-index: 1;
}

.select-js__list.is-open {
  visibility: visible;
}

.select-js__item {
  padding: 0;
  padding: 5px 10px;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.select-js__item:hover {
  background-color: #53aaff;
  color: #fff;
}
.select-js__item.is-active {
  background: #1e90ff;
  color: #fff;
}
.select-js__item--disabled {
  color: #a5a5a5;
  cursor: no-drop;
}
.select-js__item--disabled:hover {
  background-color: transparent;
  color: #a5a5a5;
}

/*-----animate-----*/
.slideInUp,
.zoomInDown,
.slideInDown,
.fadeIn {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.slideInUp {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
}

.slideInUp.is-open {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.slideInDown {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
}

.slideInDown.is-open {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.fadeIn {
  opacity: 0;
}

.fadeIn.is-open {
  opacity: 1;
  visibility: visible;
}

.zoomInDown {
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  opacity: 0;
  -webkit-transform: scale(0.5) translateY(-10px);
          transform: scale(0.5) translateY(-10px);
}

.zoomInDown.is-open {
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
  visibility: visible;
  opacity: 1;
}
