$select-icon: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI2Ij48cGF0aCBkPSJNMTAuMzEyIDBMNS41IDQuNjY2LjY4OCAwIDAgLjY2NyA1LjUgNiAxMSAuNjY3Ii8+PC9zdmc+';
$select-accent-color: #1e90ff;
$select-active-bg: $select-accent-color;
$select-bg: #fff;
$list-bg: #fff;
$select-padding: 7px 12px;
$select-hover-bg: #f1f1f1;
$select-hover-color: #555;
$select-active-color: #fff;

$select-border-width: 2px;
$list-border-width: 1px;

$select-border: $select-border-width solid #ddd;
$list-border: $list-border-width solid $select-accent-color;

select {
  min-width: 100px;
}

.cs {
  position: relative;
  display:inline-block;
  vertical-align:middle;
  max-width:inherit;
  outline: 0;

  * {
    box-sizing: border-box;
  }

  &-label {
    padding: $select-padding;
    padding-right: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    border: $select-border;
    overflow: hidden;
    user-select: none;

    &::after {
      content: '';
      position: absolute;
      right: 7px;
      top: 0;
      bottom: 0;
      width: 10px;
      height: 10px;
      margin: auto;
      z-index: 2;
      opacity: .7;
      background-image: url($select-icon);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: transform .3s;
    }
  }

  &-list {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    visibility: hidden;
    overflow-y:auto;
    overflow-x:hidden;
    border: $list-border;
    background: $list-bg;
    user-select: none;
    pointer-events: none;
    z-index: 999;
  }

  &-item {
    padding: $select-padding;
    font-size: inherit;
    font-family: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      color: $select-hover-color;
      background-color: $select-hover-bg;
    }
    &--disabled {
      color: #9f9f9f;
      cursor: no-drop;
      &:hover {
        background-color: transparent;
        color: #9f9f9f;
      }
    }
    &--group {
      font-weight: 600;
    }
    &--group:not(&--disabled) {
      color: #555;
      cursor: default;
      &:hover {
        color: currentColor;
        background-color: transparent;
      }
    }
    &--groupchild {
      padding-left: 20px;
    }

    &.is-active {
      color: $select-active-color;
      background: $select-active-bg;
    }
  }

  &.is-open &-list {
    visibility: visible;
    pointer-events: all;
  }

  &.is-open &-label {
    &::after {
      transform:rotate(180deg)
    }
  }

  &:focus &-label,
  &.is-open &-label {
    border-color: $select-active-bg;
    box-shadow: 0 2px 10px rgba(#000, .15);
  }
}

/*-----animate-----*/
.slideInUp,
.zoomInDown,
.slideInDown,
.fadeIn {
  // transition: all .2s ease;
  transition-property: visibility, opacity, transform;
  transition-duration: .2s;
  transition-timing-function: ease;
}
.slideInUp {
  transform: translateY(10px);
  opacity: 0;
}
.is-open .slideInUp {
  visibility:visible;
  transform: translateY(0);
  opacity:1;
}
.slideInDown {
  transform: translateY(-10px);
  opacity: 0;
}
.is-open .slideInDown {
  visibility:visible;
  transform: translateY(0);
  opacity:1;
}
.fadeIn {
  transition-timing-function: linear;
  opacity:0;
}
.is-open .fadeIn {
  opacity: 1;
  visibility: visible;
}
.zoomInDown {
  transform-origin: 50% 0;
  opacity:0;
  transform: scale(.5) translateY(-10px);
}
.is-open .zoomInDown {
  transform: scale(1) translateY(0);
  visibility:visible;
  opacity:1;
}
